.paragraph {
  color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

.main {
  font-size: 1rem;
}

.small {
  font-size: 0.875rem;
}

.big {
  font-size: 1.125rem;
}