.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  width: fit-content;
  margin-right: 2rem;
}

.form > label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 500;
  width: 100%;
}

.form input[type='text'],
.form input[type='date'],
.form select {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: 0.2s;
  border: 1px solid #fbb7d0;
  &:hover {
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
  }
  &:focus {
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
    outline: none;
  }
  &:active {
    box-shadow: none;
  }
}

.form input[type='file']::file-selector-button,
button {
  padding: 0.5rem 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  background-color: #ea4c89;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
  &:hover {
    background-color: #e26b98;
  }
}

.form input[type='file']::file-selector-button {
  margin: 0 0.5rem 0.5rem 0;
  display: block;
}

.boxes label {
  font-weight: 400;
}

label.confident {
  display: block;
  // flex-direction: column;
}

.error {
  margin: 0;
  color: tomato;
}